{% extends 'base_dashboard.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container mt-4">
    <h2>Inventario</h2>

    <!-- Campo de búsqueda -->
    <div class="mb-3">
        <form method="GET" action="{% url 'inventario' %}">
            <input type="text" name="search" id="searchInput" class="form-control"
                placeholder="Buscar por nombre, referencia o código de barras" value="{{ search_query }}">
        </form>
    </div>

    <!-- Alerta de productos sin stock -->
    {% if productos_sin_stock %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-circle-xmark fa-shake fs-5 align-middle me-2" style="-webkit-text-stroke: 0.5px rgb(255, 0, 0);"></i>
        ¡Atención! Hay productos sin stock en el inventario.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <!-- Alerta de productos con bajo stock (5 o menos) -->
    {% if productos_bajo_stock %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-triangle-exclamation fa-beat-fade align-middle me-2" style="color: #FFD43B; -webkit-text-stroke: 1px black;"></i>
        ¡Precaución! Algunos productos tienen 5 o menos unidades en stock.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <!-- Tabla de productos con stock -->
    <div class="table-responsive">
        <h3>Productos en Stock</h3>
        <table class="table table-striped table-hover table-bordered mt-3">
            <thead>
                <tr class="text-center align-middle">
                    <th>Nombre</th>
                    <th>Código de Barras</th>
                    <th>Precio</th>
                    <th>Cantidad Talla S</th> 
                    <th>Cantidad Talla M</th> 
                    <th>Cantidad Talla L</th> 
                    <th>Cantidad Talla XL</th> 
                    <th>Cantidad Talla XXL</th>
                    <th>Cantidad Unica</th>
                    <th>Cantidad Total</th>
                    <th>Fecha de Creación</th>
                </tr>
            </thead>
            <tbody class="text-center align-middle" id="productoTable">
                {% for producto in productos_con_stock %}
                <tr>
                    <td class="text-start fw-bolder">{{ producto.nombre }}</td>
                    <td>{{ producto.codigo_barras }}</td>
                    <td>${{ producto.precio|floatformat:0|intcomma }}</td>
                    
                    <!-- Mostrar las cantidades de cada talla -->
                    <td>{{ producto.cantidades_por_talla.S|default:"0" }}</td>
                    <td>{{ producto.cantidades_por_talla.M|default:"0" }}</td>
                    <td>{{ producto.cantidades_por_talla.L|default:"0" }}</td>
                    <td>{{ producto.cantidades_por_talla.XL|default:"0" }}</td>
                    <td>{{ producto.cantidades_por_talla.XXL|default:"0" }}</td>
                    <td>{{ producto.cantidades_por_talla.General|default:"0" }}</td>
                    
                    <!-- Mostrar la cantidad total de productos en stock -->
                    <td>{{ producto.total_cantidad }}</td>
            
                    <td>{{ producto.created_date }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="11">No hay productos en stock.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Tabla de productos sin stock -->
    {% if productos_sin_stock %}
    <div class="table-responsive mt-5 bg-soft-danger">
        <h3>Productos sin Stock</h3>
        <table class="table table-striped table-hover table-bordered mt-3">
            <thead>
                <tr class="text-center align-middle">
                    <th>Nombre</th>
                    <th>Código de Barras</th>
                    <th>Precio</th>
                    <th>Cantidad Talla S</th> 
                    <th>Cantidad Talla M</th> 
                    <th>Cantidad Talla L</th> 
                    <th>Cantidad Talla XL</th> 
                    <th>Cantidad Talla XXL</th> 
                    <th>Cantidad Unica</th>
                    <th>Cantidad Total</th>
                    <th>Fecha de Creación</th>
                </tr>
            </thead>
            <tbody class="text-center align-middle" id="productoTable">
                {% for producto in productos_sin_stock %}
                <tr>
                    <td class="text-start fw-bolder">{{ producto.nombre }}</td>
                    <td>{{ producto.codigo_barras }}</td>
                    <td>${{ producto.precio|floatformat:0|intcomma }}</td>
                    
                    <!-- Mostrar las cantidades de cada talla -->
                    <td>{{ producto.cantidades_por_talla.S|default:"0" }}</td>
                    <td>{{ producto.cantidades_por_talla.M|default:"0" }}</td>
                    <td>{{ producto.cantidades_por_talla.L|default:"0" }}</td>
                    <td>{{ producto.cantidades_por_talla.XL|default:"0" }}</td>
                    <td>{{ producto.cantidades_por_talla.XXL|default:"0" }}</td>
                    <td>{{ producto.cantidades_por_talla.General|default:"0" }}</td>
                    
                    <!-- Mostrar la cantidad total de productos sin stock -->
                    <td>{{ producto.total_cantidad }}</td>

                    <td>{{ producto.created_date }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="11">No hay productos sin stock.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}

<script src="{% static 'js/inventario.js' %}"></script>
