.similares-bg {
    background-color: #f8f9fa; /* Color gris suave claro */
    padding: 20px; /* Espaciado alrededor de la sección */
    border-radius: 5px; /* Esquinas redondeadas */
}

.bg-dama {
    --bs-bg-opacity: 1;
    background-color: rgb(252 59 145) !important;
}

.bg-hombre {
    --bs-bg-opacity: 1;
    background-color: rgb(0, 0, 0) !important;
}

.bg-unisex {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(20deg, rgba(0,0,0,1) 22%, rgba(252,59,145,1) 80%);
    background: -webkit-linear-gradient(20deg, rgba(0,0,0,1) 22%, rgba(252,59,145,1) 80%);
    background: linear-gradient(20deg, rgba(0,0,0,1) 22%, rgba(252,59,145,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#fc3b91",GradientType=1);
}