{% extends 'base_dashboard.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}

{% block content %}
<div class="container mt-0 mt-lg-1">
    <!-- Día actual -->
    <div class="container d-flex justify-content-end">
        <p class="fw-semibold">Hoy es: <span id="fecha"></span></p>
    </div>

    <!-- Saludo dinámico -->
    <div class="row align-items-center border border-black p-3 rounded-4 mb-3">
        <div class="col-8 col-md-10">
            <h1 class="fs-3 fs-md-2 fw-semibold" id="greeting">
                <span id="greeting-icon-text"></span>
            </h1>
            <p class="mb-0">Bienvenido de vuelta a tu dashboard vendedor</p>
        </div>
        <div class="col-4 col-md-2 d-flex justify-content-end">
            <div id="greeting-icon-container"
                class="d-flex justify-content-center align-items-center bg-gris-claro rounded-circle"
                style="width:50px; height: 50px; min-width: 50px; min-height: 50px;">
                <i id="greeting-icon" class="fs-3 fs-md-2 bi"></i>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    <span id="user-name" class="d-none">{{ user.get_full_name|default:user.username }}</span>

    <!-- Tarjetas Resumen Rápido -->
    <div class="row mb-4 d-flex justify-content-around">
        <!-- Tarjeta de Ventas Hechas Este Mes -->
        <div class="col-md-6 col-lg-3 mb-3">
            <div class="card shadow-sm rounded-4 bg-light h-100">
                <h6
                    class="card-header d-flex justify-content-center align-items-center text-center fw-bold text-dark alto-tarjeta">
                    Ventas Hechas Este Mes</h6>
                <div class="card-body text-center p-3">
                    <p class="fs-4 fw-bold text-black">
                        <i class="fa-solid fa-store me-2 text-primary"></i>
                        {{ cantidad_ventas_mes_actual|intcomma }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Alerta de productos sin stock -->
    {% if productos_sin_stock %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-circle-xmark fa-shake fs-5 align-middle me-2"
            style="-webkit-text-stroke: 0.5px rgb(255, 0, 0);"></i>
        ¡Atención! Hay productos sin stock en el inventario.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <!-- Alerta de productos con bajo stock (5 o menos) -->
    {% if productos_bajo_stock %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-triangle-exclamation fa-beat-fade align-middle me-2"
            style="color: #FFD43B; -webkit-text-stroke: 1px black;"></i>
        ¡Precaución! Algunos productos tienen 5 o menos unidades en stock.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% else %}
    <div class="guest-info text-center mt-4">
        <p class="text-muted">Bienvenido, Invitado</p>
        <p class="text-center text-danger">Por favor, inicia sesión para acceder a esta vista. Serás redirigido al
            inicio.</p>
    </div>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const userName = document.getElementById('user-name').textContent.trim();
        const currentHour = new Date().getHours();

        let greetingMessage, iconClass, containerStyle;

        if (currentHour < 12) {
            greetingMessage = 'Buenos días';
            iconClass = 'bi-cup-hot texto-cafe';
            containerStyle = 'box-shadow: 0px 0px 0px 2px #a55318;';
        } else if (currentHour < 18) {
            greetingMessage = 'Buenas tardes';
            iconClass = 'bi-cloud text-primary';
            containerStyle = 'box-shadow: 0px 0px 0px 2px #656565;';
        } else {
            greetingMessage = 'Buenas noches';
            iconClass = 'bi-moon-stars text-primary';
            containerStyle = 'box-shadow: 0px 0px 0px 2px #1b6efd;';
        }

        // Saludo con ícono de Bootstrap a la izquierda del texto
        const greetingIcon = document.getElementById('greeting-icon');
        const greetingIconText = document.getElementById('greeting-icon-text');

        // Configura el ícono con la clase correspondiente de Bootstrap
        greetingIcon.className = `fs-2 bi ${iconClass}`;
        greetingIconText.textContent = `${greetingMessage}, ${userName}`;

        // Configura el contenedor del icono
        const greetingContainer = document.getElementById('greeting-icon-container');

        // Combinar el estilo existente con el nuevo estilo
        greetingContainer.style.cssText += containerStyle;
    });

    // Mostrar la fecha actual
    var fechaActual = new Date();
    var dia = fechaActual.getDate();
    var mes = fechaActual.getMonth(); // Los meses empiezan desde 0
    var nombresMeses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];

    document.getElementById("fecha").innerHTML = nombresMeses[mes] + " " + dia;
</script>
{% endblock %}