{% autoescape off %}
Hola {{ user.get_full_name|default:user.username }},

Hemos recibido una solicitud para restablecer la contraseña de tu cuenta en OLÉ!

Si solicitaste restablecer tu contraseña, haz clic en el siguiente enlace para configurar una nueva contraseña:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Tu nombre de usuario, en caso de que lo necesites: {{ user.username }}

Si no solicitaste el restablecimiento, ignora este mensaje.

¡Gracias por usar nuestro sitio!

El equipo de OLÉ!
{% endautoescape %}
