{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block header_links %}
{% if user.is_authenticated %}
    <li class="nav-item mx-2">
        {% if user.rol == 'gerente' %}
            <a href="{% url 'dashboard_gerente' %}" class="btn btn-outline-light">Mi Perfil</a>
        {% elif user.rol == 'vendedor' %}
            <a href="{% url 'dashboard_vendedor' %}" class="btn btn-outline-light">Mi Perfil</a>
        {% endif %}
    </li>
    <li class="nav-item">
        <a href="{% url 'logout' %}" class="btn btn-outline-light">Cerrar Sesión</a>
    </li>
{% else %}
    <li class="nav-item me-2">
        <a href="{% url 'login' %}" class="btn btn-outline-light">Iniciar Sesión</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'index' %}" class="btn btn-outline-light">Volver</a>
    </li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center mt-5">
  <div class="row w-100 justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-5">
      <div class="card border-secondary shadow-lg">
        <div class="card-header text-center bg-gradient bg-dark text-white py-3">
          <h3 class="mb-0 text-letter">Restablecer Contraseña</h3>
        </div>
        <div class="card-body">
          {% if validlink %}
          <form method="post">
            {% csrf_token %}
            <!-- Campo para la nueva contraseña -->
            <div class="mb-3">
              <label for="id_new_password1" class="form-label">Contraseña nueva:</label>
              <div class="input-group">
                <input type="password" name="new_password1" class="form-control rounded-pill {% if form.new_password1.errors %}is-invalid{% endif %}" autocomplete="new-password" id="id_new_password1" aria-describedby="newPassword1Help" value="{{ form.new_password1.value|default:'' }}">
                <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('id_new_password1')">
                  <i class="fa-solid fa-eye" id="toggleIcon_id_new_password1"></i>
                </button>
              </div>
              <small id="newPassword1Help" class="form-text text-muted">
                Para crear una contraseña segura, asegúrate de que:
                <ul class="mb-0" style="list-style: disc; padding-left: 1.5rem;">
                  <li>No se parezca a tu información personal.</li>
                  <li>Tenga al menos 8 caracteres.</li>
                  <li>No sea una contraseña común o fácil de adivinar.</li>
                  <li>No sea únicamente numérica.</li>
                </ul>
              </small>
              {% if form.new_password1.errors %}
              <div class="invalid-feedback d-block">
                {{ form.new_password1.errors }}
              </div>
              {% endif %}
            </div>
            <!-- Campo para confirmar la nueva contraseña -->
            <div class="mb-3">
              <label for="id_new_password2" class="form-label">Confirmación de contraseña:</label>
              <div class="input-group">
                <input type="password" name="new_password2" class="form-control rounded-pill {% if form.new_password2.errors %}is-invalid{% endif %}" autocomplete="new-password" id="id_new_password2" aria-describedby="newPassword2Help" value="{{ form.new_password2.value|default:'' }}">
                <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('id_new_password2')">
                  <i class="fa-solid fa-eye" id="toggleIcon_id_new_password2"></i>
                </button>
              </div>
              <small id="newPassword2Help" class="form-text text-muted">
                Ingrese la misma contraseña para verificar.
              </small>
              {% if form.new_password2.errors %}
              <div class="invalid-feedback d-block">
                {{ form.new_password2.errors }}
              </div>
              {% endif %}
            </div>
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-outline-dark fw-bold rounded-pill" style="letter-spacing: 0.05rem;">
                Cambiar Contraseña
              </button>
            </div>
          </form>
          {% else %}
          <div class="alert alert-danger text-center" role="alert">
            El enlace de restablecimiento no es válido o ha expirado. Por favor, solicita uno nuevo.
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePassword(fieldId) {
    var input = document.getElementById(fieldId);
    var icon = document.getElementById('toggleIcon_' + fieldId);
    if (input.type === "password") {
      input.type = "text";
      icon.classList.remove('fa-eye');
      icon.classList.add('fa-eye-slash');
    } else {
      input.type = "password";
      icon.classList.remove('fa-eye-slash');
      icon.classList.add('fa-eye');
    }
  }
</script>
{% endblock %}
